<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>About Foundation</string>
				<key>CreatedDate</key>
				<date>2016-02-05T15:59:08Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>About</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-02-06T06:58:47Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks_page_page2.css</key>
						<dict>
							<key>Digest</key>
							<data>
							r85bNPdssrYBuC4SXfNc
							BA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page2.js</key>
						<dict>
							<key>Digest</key>
							<data>
							irm4l3WUATGgeSJiZUKt
							6w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/the_organization_icon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Of8eqIREVzKKNx8bcPNn
							fw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							DOUyYRdxR2A9ZraVs671
							7w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>about</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
