<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>404 Error</string>
				<key>CreatedDate</key>
				<date>2016-02-05T23:29:35Z</date>
				<key>CustomThemeName</key>
				<string>Navigator</string>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>404</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-02-07T15:33:50Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>404.html</key>
						<dict>
							<key>Digest</key>
							<data>
							wfPwzY0iYPXEyN4fYerX
							XA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page4</string>
					<key>SiteRoot</key>
					<string>oops</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
