<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Foundation Software</string>
				<key>CreatedDate</key>
				<date>2016-02-04T23:12:28Z</date>
				<key>CustomThemeName</key>
				<string>Navigator</string>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-02-07T15:35:42Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>apple-touch-icon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							7b4t/KejT/wrbuqrTKPa
							4Q==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>favicon.ico</key>
						<dict>
							<key>Digest</key>
							<data>
							rO8spE0Z8ZMdbG2eNx1e
							0Q==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/formloom3.js</key>
						<dict>
							<key>Digest</key>
							<data>
							nwNqgoyY1RQq2FeUIW/E
							uQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/large_6.png</key>
						<dict>
							<key>Digest</key>
							<data>
							QEpbSAmkA2ORFSH1oCw6
							Cg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-29CBF8A.png</key>
						<dict>
							<key>Digest</key>
							<data>
							I0uPf4nOTNnHOd/BJRYy
							lA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-82B1653.png</key>
						<dict>
							<key>Digest</key>
							<data>
							I0uPf4nOTNnHOd/BJRYy
							lA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page0.css</key>
						<dict>
							<key>Digest</key>
							<data>
							aFmwUbGBR8tQTYjon+HX
							Fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page0.js</key>
						<dict>
							<key>Digest</key>
							<data>
							z/f8qQZ/jSbQYiAzxpPN
							EA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/theorigonal_6.png</key>
						<dict>
							<key>Digest</key>
							<data>
							QEpbSAmkA2ORFSH1oCw6
							Cg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/tiny_6.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wfGy/PecXzcyhBwX4E/Q
							ZA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							sGj45kAB1jhd/mTlKg2G
							BQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>rw_common/images/Foundation_Icon_ nowrods1.png</key>
						<dict>
							<key>Digest</key>
							<data>
							IprIZSZChHFCqSkb6QJZ
							jg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							kWAkKXyyiKYbu50oU3Gz
							aQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>sitemap.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							E9FFRl+C0xjqnbnI2lqK
							Iw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
